@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FC Minimal";
  src: local("FC Minimal"),
    url("./assets/fonts/FC_Minimal_Regular.ttf") format("truetype");
}

:root {
  font-family: "FC Minimal", sans-serif;
  font-size: 16px;
  height: 100%;
}

body,
#root {
  height: 100%;
}

.fade-in {
  opacity: 0;
  animation: fade-in .2s ease-in forwards;
}

.fade-out {
  opacity: 0;
  animation: fade-out .2s ease;
}

.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 4s 1s ease-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  font-weight: 600;
  outline: none;
}

nav a.active {
  color: blue;
}

.tracking-wide {
  letter-spacing: 0 !important;
}
